<html>
<head>
    <title></title>
	<meta charset="utf-8" />
    <script>
        function Auth() {
            var URL = 'https://notify-bot.line.me/oauth/authorize?';
            URL += 'response_type=code';
            URL += '&client_id=u8q2t2XzFHd6TLHuZ2ejai';
            URL += '&redirect_uri=http://192.168.43.37:9999/echo';
            URL += '&scope=notify';
            URL += '&state=SuperAppKid';
            window.location.href = URL;
        }
    </script>
</head>
<body>
    <button onclick="Auth();">點選這裡連結到LineNotify</button>
</body>
</html>